---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
FixNamespaceComments: true
IndentCaseLabels: false
NamespaceIndentation: None
PackConstructorInitializers: NextLine
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2

IncludeBlocks: Regroup
# Pairs <name>_test.cpp with <name>.h; LLVM's default only pairs <name>Test.cpp.
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeCategories:
  # Paired header (handled by clang-format priority 0)
  - Regex: '^<(cstd|cstr|cmath|cassert|cstdint|cstddef).*>$'
    Priority: 2
  - Regex: '^<[a-z_]+>$'
    Priority: 2
  - Regex: '^<.*\.h(pp)?>$'
    Priority: 3
  - Regex: '^"(core|helios)/'
    Priority: 4
  - Regex: '.*'
    Priority: 5
